# ==========================================================
# Liver Transplant Project Requirements
# ==========================================================

# Core scientific computing
numpy
pandas
scipy
joblib
tqdm
einops

# Medical image processing
SimpleITK
nibabel

# Image processing
opencv-python-headless

# Machine learning
scikit-learn==1.6.1
xgboost==3.2.0
lightgbm==4.6.0
tabpfn==2.2.1

# Deep learning
torch
torchvision
monai

# Model download
huggingface_hub
